---
import { type CollectionEntry } from "astro:content";
import BaseHead from "./BaseHead.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { title, description, pubDate, heroImage } = post.data;
const { headings } = await post.render();
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style is:inline>
      main .title {
        font-size: 2em;
        margin: 0.25em 0 1rem;
      }
      main .time {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      main .create_time {
        opacity: 0.4;
      }
      main p,
      li {
        opacity: 0.6;
      }
    </style>
  </head>

  <body class="dark:bg-black dark:text-gray-200 text-gray-700 bg-white">
    <Header />
    <main class=" max-w-none flex justify-center">
      <article class=" max-w-[65ch]">
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="title dark:text-gray-50 text-gray-950">{title}</h1>
        <div class="time">
          {
            pubDate && (
              <span class="create_time">
                Created on
                <time>
                  {pubDate.toLocaleDateString("zh-CN", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </time>
              </span>
            )
          }
        </div>
        <slot />
      </article>
      <div class=" fixed top-48 lg:ml-[85%] xl:ml-[65%] hidden lg:block">
        {headings.map(headeing => (<div class="text-sm" style={`margin-left: ${(headeing.depth - 2) * 0.875}rem`}><a href={`#${headeing.slug}`}>{headeing.text}</a></div>))}
      </div>
    </main>
    <Footer />
  </body>
</html>
